*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

/* variables */

:root{

    --color1:#48e;
    --color2:#fff;
    --color3:#333;
}

/* header y nav */

header{

    width: 100%;
    height: 80px;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h2{
    color: var(--color2);
}

header nav ul{

    display: flex;
}

header nav ul li{

    margin: 0 10px ;
    padding: 10px;
    border-radius: 4px;
}

header nav ul li a{

    color: var(--color2);
}

.linkActually{

    background-color: var(--color2);

}

.linkActually a{
    
    color: var(--color1);
}

/* buttons */

button{

    border: none;
    outline: 1px solid var(--color2);
    background-color: var(--color1);
    padding: 10px;
    border-radius: 4px;
    color: var(--color2);
    cursor: pointer;
    transition: all .2s;
}

button:hover{

    background-color: var(--color2);
    color: var(--color1);
    outline: 1px solid var(--color1);
    transition: all .2s;
}

.buttonSelected{ /*se agrega al hacer click, mas detalles en: CONTENT/BUSCAR/busca.js*/

    background-color: green;
}


/* spinner */

.spinner{

    width: 140px;
    margin: 10px auto;
    height: 140px;
    border-radius: 100%;
    border-top: 2px solid var(--color1);
    background-color: var(--color2);
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes load{

    0%{
       
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}




/* footer */

footer{

    width: 100%;
    height: 200px;
    background-color: var(--color3);
  
}