/* variables */
:root{

    --color1:#48e;
    --color2:#fff;
    --color3:#333;
}

/* portada */
.portada{

    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    height: 400px;
    background-image: url("SOURCE/img1.svg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portada__shadow{

    max-width: 30%;
    padding: 30px;
    background-color: #8d8a8a7c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

.portada__shadow p{
    margin: 10px;
}

.portada__shadow button{

    margin: 10px;
    padding: 20px;
    border: none;
    outline: 1px solid var(--color2);
    color: var(--color2);
    background-color: var(--color1);
    border-radius: 10px;
    cursor: pointer;
}

/* services */

.services{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    /* grid */
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,400px));
    /* grid-auto-rows: 200px; */
    gap: 70px;
}

.card{
border: 1px solid red;
overflow: hidden;
}


.card img{

    width: 100%;
    object-fit: contain;
    object-position: center;
   
}

.card h2{

    text-align: center;
    margin: 10px 0;
}

.card p{
    text-align: center;
    margin: 10px 0;
}