
h1{
    text-align: center;
}

#service, h1{

    color: black;
    background-color: rgba(24, 131, 202, 0.317);
}


#service{

    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid rgba(200,200,200,0.9);
}

#service h3{

    margin: 10px 0;
    border: none;
    /* outline: 1px solid rgba(200,200,200,0.9); */
    border-radius: 5px;
    padding: 5px;
}

#contratar{

    display: block;
    width: 100%;
    max-width: 100px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    outline: 1px solid rgba(24, 131, 202, 0.317);
    color: #fff;
    background-color: #48e;
    margin: 20px auto;
    transform: scale(1.2);
    cursor: pointer;
}